$base-color: #31698A;
$active-color: #aaa;

$sheet-bg-color : white;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...


// other includes
@include sencha-loading-spinner;

// logos
@include pictos-iconmask(user_business);
@include pictos-iconmask(info2);
@include pictos-iconmask(help);
@include pictos-iconmask(phone1);


// listings

.properties.new:before {
  content: "New";
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: yellow;
  padding: 3px 5px;
  font-size: small;
}
.featured.properties.new:before {
  display:none;
}
.properties.new-price:before {
  content: "New Price";
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #eee;
  color: blue;
  padding: 3px 5px;
  font-size: small;
}
.properties.under-contract:before {
  content: "Under contract";
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #eee;
  color: red;
  padding: 3px 5px;
  font-size: small;
}
.properties img {
  float: left;
  margin-right: 20px;
  border: 2px solid #555;
  //width: 150px;
}
.properties h3 {
  margin-bottom: 0px;
}
.properties .info {
  margin-left:  130px;
}
.properties .sold {
  background: green;
  color: white;
  padding: 3px 5px;
  font-size: small;
}


// broker info

#broker-territories {
  display: none;
}

#broker-territories li {
  float: left;
  margin: 5px;
  display: block;
  background: #ccc;
  padding: 3px;
}

#broker-territories ol {
  padding: 0;
  margin: 0;
}


.brokers .broker-box {
  clear: both;
  padding: 10px 0px;
  border-bottom: 1px solid #CCC;
}

.brokers img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
